<table>
  <thead>
    <tr>
      <th>Country</th>
      <td></td>
      <th>City</th>
      <!-- <td></td>
      <th>Station</th>
      <td></td>
      <th>From Date</th>
      <th>To Date</th> -->
      <td></td>
      <th>Max °C</th>
      <th>Min °C</th>
      <th>Demo 1</th>
      <th>Demo 2</th>
      <th>Demo 3</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through records -->
    <tr *ngFor="let record of weatherRecords; let i = index">
      <td>{{ record.country }}</td>
      <td></td>
      <td>{{ record.city }}</td>
      <!-- <td></td>
      <td>{{ record.stationNumber }}</td>
      <td></td>
      <td>{{ record.fromDate }}</td>
      <td>{{ record.toDate }}</td> -->
      <td></td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[-15, 45]"
          [background]="'lightyellow'"
          [yDatumLines]="yDatumLines"
          [values]="record.maxT"
          [mouseEventTypes]="[MouseEventType.Click, MouseEventType.MouseOver]"
          (mouseEvent)="handleMouseEvent($event, i)"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[-15, 45]"
          [background]="'lightyellow'"
          [fillStyle]="simpleTemperatureGradient"
          [values]="record.minT"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[0, 45]"
          [background]="'lightyellow'"
          [fillStyle]="hGradient"
          [values]="record.meanT"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[0, 45]"
          [background]="'lightyellow'"
          [fillStyle]="prideGradient"
          [values]="record.maxT"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[0, 45]"
          [background]="'lightyellow'"
          [fillStyle]="simpleTemperatureGradient"
          [values]="record.maxT"
        ></sparklib-line-chart>
      </td>
    </tr>
  </tbody>
</table>
<span class="credits">{{ credits }}</span>
<br />
<br />
<hr />

<sparklib-line-chart
  id="mouse-over-chart"
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [values]="monoDataValues"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="hGradientBuilder"
  [values]="monoDataValues"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="prideGradient"
  [values]="monoDataValues"
></sparklib-line-chart>

<br />
<hr />
<br />
Object arrays
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="prideGradient"
  [values]="monoObjectValuesWithGaps"
  [yAccessor]="yAccessor"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [strokeStyle]="hGradient"
  [values]="pairObjectSegmentValues"
  [xAccessor]="xAccessor"
  [yAccessor]="yAccessor"
></sparklib-line-chart>
<br />
<hr />
<br />

<sparklib-line-chart
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [background]="'lightgreen'"
  [values]="pairDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [margins]="margins"
  [background]="vGradient"
  [values]="pairDataValues"
></sparklib-line-chart>
<br />
<sparklib-line-chart
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [values]="pairSegmentValues"
></sparklib-line-chart>

<sparklib-line-chart
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [values]="monoDataValuesWithGaps"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [strokeStyle]="hGradient"
  [values]="pairSegmentValues"
></sparklib-line-chart>
<br />
<sparklib-line-chart
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [fillStyle]="'black'"
  [values]="monoDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [fillStyle]="hGradient"
  [values]="monoDataValues"
></sparklib-line-chart>
<br />
<hr />

<span>stripe0</span><br />
<sparklib-stripe-chart
  class="stripe-chart"
  [width]="stripe_x10_1_and_0.length * 4"
  [height]="25"
  [values]="stripe_x10_1_and_0"
  [mouseEventTypes]="[MouseEventType.Click, MouseEventType.MouseOver]"
  (mouseEvent)="handleStripeChartMouseEvent($event)"
></sparklib-stripe-chart>
<br />
<span>stripe1</span><br />
<sparklib-stripe-chart
  class="stripe-chart"
  [width]="stripe_x10_mostly_0.length * 4"
  [height]="25"
  [values]="stripe_x10_mostly_0"
></sparklib-stripe-chart>
<router-outlet></router-outlet>

<hr />
<div #container class="container"></div>
<hr />

<div>AxisPosition.Top</div>
<br />
<sparklib-axis
  [position]="AxisPosition.Top"
  [width]="250"
  [height]="30"
  [lineWidth]="2"
  [font]="'11px arial'"
  [fontColor]="'blue'"
  [ticks]="ticks0"
  [tickPadding]="4"
  [tickLength]="15"
  [tickWidth]="1"
></sparklib-axis>
<br />
<br />
<br />
<div>AxisPosition.Bottom</div>
<br />
<sparklib-axis
  [position]="AxisPosition.Bottom"
  [width]="250"
  [height]="30"
  [lineWidth]="3"
  [font]="'16px arial'"
  [ticks]="horizontalTicks"
></sparklib-axis>

<br />
<br />
<br />
<div>AxisPosition.Left</div>
<br />
<sparklib-axis
  [position]="AxisPosition.Left"
  [width]="40"
  [height]="250"
  [lineWidth]="3"
  [font]="'bold 11px arial'"
  [fontColor]="'blue'"
  [ticks]="ticks0"
></sparklib-axis>

<br />
<br />
<br />
<div>AxisPosition.Right</div>
<br />
<sparklib-axis
  [position]="AxisPosition.Right"
  [width]="40"
  [height]="250"
  [lineWidth]="1"
  [ticks]="horizontalTicks"
></sparklib-axis>

<br />
<br />
<br />
<div>Fancy AxisPosition.Bottom</div>
<br />
<sparklib-axis
  [position]="AxisPosition.Bottom"
  [width]="250"
  [height]="30"
  [strokeStyle]="'blue'"
  [lineWidth]="3"
  [font]="'16px arial'"
  [ticks]="horizontalTicks"
></sparklib-axis>

<br />
<br />
<br />
<div>Very Fancy AxisPosition.Bottom</div>
<br />
<sparklib-axis
  [position]="AxisPosition.Bottom"
  [width]="250"
  [height]="30"
  [strokeStyle]="hGradient"
  [lineWidth]="3"
  [font]="'16px arial'"
  [fontColor]="'green'"
  [ticks]="horizontalTicks"
></sparklib-axis>

<hr />
<div class="simple-axis-chart-container" *ngIf="weatherRecords[0]">
  <sparklib-axis
    class="plain-axis-chart"
    [position]="AxisPosition.Top"
    [width]="weatherRecords[0].maxT.length"
    [height]="20"
    [background]="'lightyellow'"
    [font]="'10px arial'"
    [ticks]="axisChartTopTicks"
    [tickPadding]="4"
    [tickWidth]="1"
  ></sparklib-axis>
  <sparklib-line-chart
    class="plain-axis-chart"
    [width]="weatherRecords[0].maxT.length"
    [height]="lineChartHeight"
    [yDomain]="[0, 45]"
    [background]="'lightyellow'"
    [fillStyle]="'lightgreen'"
    [values]="weatherRecords[0].maxT"
  ></sparklib-line-chart>
</div>
<hr />

<div *ngIf="weatherRecords[0]">
  <table
    id="capture"
    style="background-color: lightyellow"
    [cellPadding]="0"
    [cellSpacing]="0"
  >
    <tr>
      <!-- font-size: 0 removes the vertical space from inline-block content  -->
      <td colspan="3" style="text-align: center; font-size: 0">
        <sparklib-axis
          style="display: inline-block"
          class="plain-axis-chart"
          [position]="AxisPosition.Top"
          [width]="weatherRecords[0].maxT.length + 2 - 60"
          [height]="20"
          [background]="'lightyellow'"
          [font]="'10px arial'"
          [ticks]="horizontalTicks"
          [tickPadding]="4"
          [tickWidth]="1"
        ></sparklib-axis>
      </td>
    </tr>
    <tr>
      <td>
        <sparklib-axis
          class="plain-axis-chart"
          [position]="AxisPosition.Left"
          [width]="30"
          [height]="weatherRecords[0].maxT.length - 60"
          [background]="'lightyellow'"
          [font]="'10px arial'"
          [ticks]="verticalTicks"
          [tickPadding]="4"
          [tickWidth]="1"
        ></sparklib-axis>
      </td>
      <td>
        <sparklib-line-chart
          [width]="183"
          [height]="183"
          [background]="'lightyellow'"
          [fillStyle]="'lightgreen'"
          [yDomain]="[0, 45]"
          [values]="weatherRecords[0].maxT"
        >
        </sparklib-line-chart>
      </td>
      <td>
        <sparklib-axis
          class="plain-axis-chart"
          [position]="AxisPosition.Right"
          [width]="30"
          [height]="weatherRecords[0].maxT.length - 60"
          [background]="'lightyellow'"
          [font]="'10px arial'"
          [ticks]="verticalTicks"
          [tickPadding]="4"
          [tickWidth]="1"
        ></sparklib-axis>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center">
        <sparklib-axis
          style="display: inline-block"
          class="plain-axis-chart"
          [position]="AxisPosition.Bottom"
          [width]="weatherRecords[0].maxT.length + 2 - 60"
          [height]="20"
          [background]="'lightyellow'"
          [font]="'10px arial'"
          [ticks]="horizontalTicks"
          [tickPadding]="4"
          [tickWidth]="1"
        ></sparklib-axis>
      </td>
    </tr>
  </table>
  <br />
  <button (click)="capture()">Capture</button>
</div>
