<table>
  <thead>
    <tr>
      <th>Country</th>
      <td></td>
      <th>City</th>
      <!-- <td></td>
      <th>Station</th>
      <td></td>
      <th>From Date</th>
      <th>To Date</th> -->
      <td></td>
      <th>Max °C</th>
      <th>Min °C</th>
      <th>Demo 1</th>
      <th>Demo 2</th>
      <th>Demo 3</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through records -->
    <tr *ngFor="let record of weatherRecords; let i = index">
      <td>{{ record.country }}</td>
      <td></td>
      <td>{{ record.city }}</td>
      <!-- <td></td>
      <td>{{ record.stationNumber }}</td>
      <td></td>
      <td>{{ record.fromDate }}</td>
      <td>{{ record.toDate }}</td> -->
      <td></td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[-15, 45]"
          [background]="'lightyellow'"
          [yDatumLines]="yDatumLines"
          [values]="record.maxT"
          [mouseEventTypes]="[MouseEventType.Click, MouseEventType.MouseOver]"
          (mouseEvent)="handleMouseEvent($event, i)"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[-15, 45]"
          [background]="'lightyellow'"
          [fillStyle]="simpleTemperatureGradient"
          [values]="record.minT"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[0, 45]"
          [background]="'lightyellow'"
          [fillStyle]="hGradient"
          [values]="record.meanT"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[0, 45]"
          [background]="'lightyellow'"
          [fillStyle]="prideGradient"
          [values]="record.maxT"
        ></sparklib-line-chart>
      </td>
      <td>
        <sparklib-line-chart
          [width]="record.maxT.length"
          [height]="lineChartHeight"
          [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
          [yDomain]="[0, 45]"
          [background]="'lightyellow'"
          [fillStyle]="simpleTemperatureGradient"
          [values]="record.maxT"
        ></sparklib-line-chart>
      </td>
    </tr>
  </tbody>
</table>
<span class="credits">{{ credits }}</span>
<br />
<br />
<hr />

<sparklib-line-chart
  id="mouse-over-chart"
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [values]="monoDataValues"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="hGradientBuilder"
  [values]="monoDataValues"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="prideGradient"
  [values]="monoDataValues"
></sparklib-line-chart>

<br />
<hr />
<br />
Object arrays
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="prideGradient"
  [values]="monoObjectValuesWithGaps"
  [yAccessor]="yAccessor"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [strokeStyle]="hGradient"
  [values]="pairObjectSegmentValues"
  [xAccessor]="xAccessor"
  [yAccessor]="yAccessor"
></sparklib-line-chart>
<br />
<hr />
<br />

<sparklib-line-chart
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [background]="'lightgreen'"
  [values]="pairDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [margins]="margins"
  [background]="vGradient"
  [values]="pairDataValues"
></sparklib-line-chart>
<br />
<sparklib-line-chart
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [values]="pairSegmentValues"
></sparklib-line-chart>

<sparklib-line-chart
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [values]="monoDataValuesWithGaps"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [strokeStyle]="hGradient"
  [values]="pairSegmentValues"
></sparklib-line-chart>
<br />
<sparklib-line-chart
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [fillStyle]="'black'"
  [values]="monoDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [fillStyle]="hGradient"
  [values]="monoDataValues"
></sparklib-line-chart>
<br />
<hr />

<span>stripe0</span><br />
<sparklib-stripe-chart
  class="stripe-chart"
  [width]="stripe_x10_1_and_0.length * 4"
  [height]="25"
  [values]="stripe_x10_1_and_0"
></sparklib-stripe-chart>
<br />
<span>stripe1</span><br />
<sparklib-stripe-chart
  class="stripe-chart"
  [width]="stripe_x10_mostly_0.length * 4"
  [height]="25"
  [values]="stripe_x10_mostly_0"
></sparklib-stripe-chart>
<router-outlet></router-outlet>

<hr />
<div #container class="container"></div>
