<sparklib-line-chart
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [values]="monoDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="hGradientBuilder"
  [values]="monoDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="marginsBuilder"
  [background]="prideGradient"
  [values]="monoDataValues"
></sparklib-line-chart>
<br />

<sparklib-line-chart
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [background]="'lightgreen'"
  [values]="pairDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [margins]="margins"
  [background]="vGradient"
  [values]="pairDataValues"
></sparklib-line-chart>
<br />
<sparklib-line-chart
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [values]="pairSegmentValues"
></sparklib-line-chart>

<sparklib-line-chart
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [values]="monoDataValuesWithGaps"
></sparklib-line-chart>

<sparklib-line-chart
  style="margin-left: 5px"
  [background]="'lightgray'"
  [margins]="{ top: 10, bottom: 10, left: 10, right: 10 }"
  [strokeStyle]="hGradient"
  [values]="pairSegmentValues"
></sparklib-line-chart>
<br />
<sparklib-line-chart
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [fillStyle]="'black'"
  [values]="monoDataValues"
></sparklib-line-chart>
<sparklib-line-chart
  style="margin-left: 5px"
  [width]="250"
  [height]="100"
  [margins]="{ top: 0, bottom: 0, left: 10, right: 10 }"
  [background]="'lightyellow'"
  [fillStyle]="hGradient"
  [values]="monoDataValues"
></sparklib-line-chart>
<br />
<hr />
<div *ngFor="let record of weatherRecords">
  <!-- Display properties of each record here -->
  <p>Station Number: {{ record.stationNumber }}</p>
  <p>From Date: {{ record.fromDate }}</p>
  <p>To Date: {{ record.toDate }}</p>
  <!-- Loop through maxT, meanT, minT arrays if needed -->
  <div>
    <strong>MaxT, MeanT, MinT</strong><br />
    <sparklib-line-chart
      style="margin-left: 5px"
      [width]="record.maxT.length"
      [height]="50"
      [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
      [yDomain]="[-45, 45]"
      [background]="'lightyellow'"
      [fillStyle]="hGradient"
      [values]="record.maxT"
    ></sparklib-line-chart>
    <!-- <span *ngFor="let maxTValue of record.maxT">{{ maxTValue }} </span> -->
    <sparklib-line-chart
      style="margin-left: 5px"
      [width]="record.maxT.length"
      [height]="50"
      [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
      [yDomain]="[-45, 45]"
      [background]="'lightyellow'"
      [fillStyle]="hGradient"
      [values]="record.meanT"
    ></sparklib-line-chart>
    <!-- <span *ngFor="let meanTValue of record.meanT">{{ meanTValue }} </span> -->
    <sparklib-line-chart
      style="margin-left: 5px"
      [width]="record.maxT.length"
      [height]="50"
      [margins]="{ top: 0, bottom: 0, left: 0, right: 0 }"
      [yDomain]="[-45, 45]"
      [background]="'lightyellow'"
      [fillStyle]="hGradient"
      [values]="record.minT"
    ></sparklib-line-chart>
    <!-- <span *ngFor="let minTValue of record.minT">{{ minTValue }} </span> -->
  </div>
</div>
<br />
<hr />
<span>stripe0</span><br />
<sparklib-stripe-chart
  class="stripe-chart"
  [width]="stripe_x10_1_and_0.length * 4"
  [height]="25"
  [values]="stripe_x10_1_and_0"
></sparklib-stripe-chart>
<br />
<span>stripe1</span><br />
<sparklib-stripe-chart
  class="stripe-chart"
  [width]="stripe_x10_mostly_0.length * 4"
  [height]="25"
  [values]="stripe_x10_mostly_0"
></sparklib-stripe-chart>
<router-outlet></router-outlet>

<hr />
<div #container class="container"></div>
